  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </body>


<%= render 'list', user: @user %>
<%= render 'books/list', book: @book %>


<!--ユーザーの投稿情報の記述-->
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>

<% @books.each do |book| %>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
            <th>Title：<%= link_to book.title, book_path(book.id) %></th>
                <%= link_to user_path(book.user.id) do  %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
            <th>Opinion：<%= book.body %></th>
            <th colspan="3"></th>
          </tr>
        </thead>


  </div>


  <% end %>
